<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>Id</th>
            <th>price</th>
            <th>qantity</th>
            <th>totalPrice</th>
        </tr>
        @foreach ($carts as $key => $cart)

            <tr>
                <td>1</td>
                <td>
                    100
                    <input type="hidden" value="100" id="perPrice{{$key}}">
                </td>
                <td>
                    <button class="Addquantity" aff-id="#quantity{{$key}}">Add</button>
                    <input type="number" name="quantity" id="quantity{{$key}}" perPrice-id="#perPrice{{$key}}" showTotalPrice-id="#showTotalPrice{{$key}}">
                    <button class="Decquantity" aff-id="#quantity{{$key}}">Dec</button>
                </td>
                <td id="showTotalPrice{{$key}}">100</td>
            </tr>

        @endforeach
    </table>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/Jqt3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $('.Addquantity').click(function (e) { 
                e.preventDefault();
                let quantityId = $(this).attr('aff-id');
                let quantity = $(quantityId).val();
                let perPrice = $($(quantityId).attr('perPrice-id')).val();
                if(perPrice && quantity  && parseInt(quantity) < 5){
                    $(quantityId).val(parseInt(quantity) + 1);
                    let total = parseFloat(perPrice) * parseInt(quantity);
                    $($(quantityId).attr('showTotalPrice-id')).empty();
                    $($(quantityId).attr('showTotalPrice-id')).append(total);
                }
            });
            $('.Decquantity').click(function (e) { 
                e.preventDefault();
                let quantityId = $(this).attr('aff-id');
                let quantity = $(quantityId).val();
                let perPrice = $($(quantityId).attr('perPrice-id')).val();
                if(perPrice && quantity && parseInt(quantity) > 0){
                    $(quantityId).val(parseInt(quantity) - 1);
                    let total = parseFloat(perPrice) * parseInt(quantity);
                    $($(quantityId).attr('showTotalPrice-id')).empty();
                    $($(quantityId).attr('showTotalPrice-id')).append(total);
                }
            });
        });
    </script>
</body>
</html>